* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #051421, #042727);
  overflow-x: hidden;
  overflow-y: overlay;
}

body::-webkit-scrollbar {
  width: 20px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, #112e46, #096464);
  border-radius: 5px;
}

body::-webkit-scrollbar-track {
  background: linear-gradient(to right, #1a1e21, #022525);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
}
